<a href="https://colab.research.google.com/github/carloshernangarrido/pandas_practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# 2. How to create a series from a list, numpy array and dict?

Create a pandas series from each of the items below: a list, numpy and a dictionary

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
s_mylist = pd.Series(data=mylist)
s_myarr = pd.Series(data=myarr)
s_mydict = pd.Series(data=mydict)

s_mydict.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

# 3. How to convert the index of a series into a column of a dataframe?
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = pd.DataFrame(data=ser)
df['index'] = df.index
df.index = myarr
df.head()

   0 index
0  0     a
1  1     b
2  2     c
3  3     e
4  4     d

In [ ]:
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

# 4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
df = pd.DataFrame(data={'ser1': ser1, 'ser2': ser2})
df.head()

  ser1  ser2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [ ]:
df = pd.concat([ser1, ser2], axis=1)
df.columns = ['ser1', 'ser2']
df.head()

  ser1  ser2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

# 5. How to assign name to the series’ index?
Difficulty Level: L1
Give a name to the series ser calling it ‘alphabets’.

In [ ]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [ ]:
print(ser.head())
ser.name = 'alphabets'
print(ser.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

# 6. How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
indices1 = list(ser1.index)
ser2_list = list(ser2)
print(indices1)
indices1_remove = [i for i in indices1 if ser1[i] in ser2_list]
print(indices1_remove)
ser1_ = ser1.drop(indices1_remove)
print(ser1)
print(ser1_)

[0, 1, 2, 3, 4]
[3, 4]
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
dtype: int64

In [ ]:
ser1_in_ser2 = ser1.isin(ser2)
print(ser1_in_ser2)
print(~ser1_in_ser2)
ser1_ = ser1[~ser1_in_ser2]
print(ser1_)
ser1_ = ser1.drop(np.where(ser1_in_ser2)[0])
print(ser1_)

0    False
1    False
2    False
3     True
4     True
dtype: bool
0     True
1     True
2     True
3    False
4    False
dtype: bool
0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
dtype: int64

# 7. How to get the items not common to both series A and series B?
Difficulty Level: L2
Get all items of ser1 and ser2 not common to both.

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [122]:
ser1_notin_ser2 = ser1[~ser1.isin(ser2)]
ser2_notin_ser1 = ser2[~ser2.isin(ser1)]
print(ser1_notin_ser2, ser2_notin_ser1, sep='\n')
ser_notcommon_ = pd.concat([ser1_notin_ser2, ser2_notin_ser1])
print(ser_notcommon_)
ser_notcommon = ser_notcommon_.reset_index().drop('index', axis=1)
print(ser_notcommon)

0    1
1    2
2    3
dtype: int64
2    6
3    7
4    8
dtype: int64
0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64
   0
0  1
1  2
2  3
3  6
4  7
5  8

In [124]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_notcommon = ser_u[~ser_u.isin(ser_i)]
print(ser_notcommon)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64